SmartSingularity.PstBackupAgent/Connected Services/ReportService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupReportServer" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupReportServer" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPstFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupReportServer" minOccurs="0" name="pstFile" nillable="true" type="q2:PstFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPstFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterBackupResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupReportServer" minOccurs="0" name="pstFile" nillable="true" type="q3:PstFile" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupReportServer" minOccurs="0" name="backupSession" nillable="true" type="q4:BackupSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterBackupResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>