SmartSingularity.PstBackupAgent/Connected Services/ReportService/ReportServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:43000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupReportServer" />
      <xsd:import schemaLocation="http://localhost:43000/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:43000/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupSettings" />
      <xsd:import schemaLocation="http://localhost:43000/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SmartSingularity.PstBackupEngine" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportServer_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IReportServer_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IReportServer_RegisterPstFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPstFile" />
  </wsdl:message>
  <wsdl:message name="IReportServer_RegisterPstFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPstFileResponse" />
  </wsdl:message>
  <wsdl:message name="IReportServer_RegisterBackupResult_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterBackupResult" />
  </wsdl:message>
  <wsdl:message name="IReportServer_RegisterBackupResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterBackupResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportServer">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportServer/RegisterClient" message="tns:IReportServer_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportServer/RegisterClientResponse" message="tns:IReportServer_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPstFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportServer/RegisterPstFile" message="tns:IReportServer_RegisterPstFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportServer/RegisterPstFileResponse" message="tns:IReportServer_RegisterPstFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterBackupResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportServer/RegisterBackupResult" message="tns:IReportServer_RegisterBackupResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportServer/RegisterBackupResultResponse" message="tns:IReportServer_RegisterBackupResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportServer" type="tns:IReportServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterClient">
      <soap:operation soapAction="http://tempuri.org/IReportServer/RegisterClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPstFile">
      <soap:operation soapAction="http://tempuri.org/IReportServer/RegisterPstFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterBackupResult">
      <soap:operation soapAction="http://tempuri.org/IReportServer/RegisterBackupResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportServer">
    <wsdl:port name="BasicHttpBinding_IReportServer" binding="tns:BasicHttpBinding_IReportServer">
      <soap:address location="http://localhost:43000/Report" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>